@model PagedList.IPagedList<Newtryx.BO.ReservationModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Index", "Restaurant")
</p>
<br />
<p>
    @Html.TextBox("name", null, new { @placeholder = "Search Restaurant", @class = "form-control" })
</p>
<table class="table">
    <tr>
        <th>Restaurant Name</th>
        <th>Reservation Status</th>
        <th>StartDate Time</th>
        <th>Description</th>
        <th>Date Created</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>

                @{
                    if (item.ReservationStatus != "Complete")
                    {
                        @Html.ActionLink("Take Order", "Create", "Order", new { ReservationId = item.Id }, null)
                    }

                }
                | @Html.ActionLink("View Order", "Orders", "Order", new { ReservationId = item.Id }, null) |
                @Html.ActionLink("Update", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>
<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
    @Model.PageCount @Html.PagedListPager(Model, page => ("Index"))
</div>