@model PagedList.IPagedList<Newtryx.BO.Restaurant.RestaurantModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
@using (Html.BeginForm("Index", "Restaurant", FormMethod.Post))
{
<p>
    <div class="input-group col-lg-4">
        <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Search" />
        </span>
        @Html.TextBox("name", null, new { @placeholder = "Search Restaurant", @class = "form-control" })
    </div>
</p>
    <table class="table">
        <tr>
            <th>Restaurant Name</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Select", "Create", "Reservation", new { RestaurantId = item.Id }, null) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }

    </table>
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
        @Model.PageCount @Html.PagedListPager(Model, page => ("Index"))
    </div>
}
