@model List<Newtryx.BO.OrderViewModel>
@{
    ViewBag.Title = "Create Order";
}

<h2>Add order</h2>
<br />
<div>
    @using (Html.BeginForm("Create", "Order", FormMethod.Post))
    {
    <div class="form-horizontal">

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @if (ViewBag.Message != null)
        {
            <div style="border:solid 1px green">
                @ViewBag.Message
            </div>
        }

        <a href="#" id="addNew">Add New</a>
        <table id="dataTable" class="table">
            <tr>
                <th>Enter order details</th>
                <th></th>
            </tr>
            @if (Model != null && Model.Count > 0)
            {
                int j = 0;
                foreach (var i in Model)
                {
                    <tr>
                        @Html.HiddenFor(a => a[j].ReservationId)
                        <td>@Html.TextBoxFor(a => a[j].Description, new { @class = "form-control", @maxlength = "1000" })</td>
                        <td>
                            @if (j > 0)
                            {
                                <a href="#" class="remove">Remove</a>
                            }
                        </td>
                    </tr>
                    j++;
                }
            }
        </table>
        <br />
        <input type="submit" value="Save Order"  class="btn btn-primary" />
    </div>
            }
        </div>

        @* Here I will add Jquery Code for validation / dynamically add new rows / Remove rows etc *@

        @section Scripts{
            <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
            <script language="javascript">
                $(document).ready(function () {

                    //1. Add new row
                    $("#addNew").click(function (e) {
                        e.preventDefault();
                        var $tableBody = $("#dataTable");
                        var $trLast = $tableBody.find("tr:last");
                        var $trNew = $trLast.clone();

                        var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
                        $trNew.find("td:last").html('<a href="#" class="remove">Remove</a>');
                        $.each($trNew.find(':input'), function (i, val) {
                            // Replaced Name
                            var oldN = $(this).attr('name');
                            var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                            $(this).attr('name', newN);
                            //Replaced value
                            var type = $(this).attr('type');
                            if (type.toLowerCase() == "text") {
                                $(this).attr('value', '');
                            }

                            // If you have another Type then replace with default value
                            $(this).removeClass("input-validation-error");

                        });
                        $trLast.after($trNew);

                        // Re-assign Validation
                        var form = $("form")
                            .removeData("validator")
                            .removeData("unobtrusiveValidation");
                        $.validator.unobtrusive.parse(form);
                    });

                    // 2. Remove
                    $('a.remove').live(function (e) {
                        e.preventDefault();
                        $(this).parent().parent().remove();
                    });

                });
            </script>
        }
